// see https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
// see http://fxexperience.com/2011/12/styling-fx-buttons-with-css/


#calculator .grey {
	-fx-background-color: #A9A9A9,
	    linear-gradient(#7c7c7c, #7c7c7c) ,
        linear-gradient(#b1b8b8 12%, #e0e0e0 32%, #919696 35%, #7c7c7c 30%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;


}

#calculator .grey2 {
	-fx-background-color: #222020;
    -fx-font-size: 25px;
    -fx-text-fill: white;


}

#calculator .orange1 {
    -fx-background-color: #f95007,
        linear-gradient(#df800a, #df800a),
        linear-gradient(#f4c501 12%, #f49801 32%, #df9a0f 35%, #df800a 30%);
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

#calculator .orange2 {
    -fx-background-color: #f95007,
        linear-gradient(#df800a, #df800a),
        linear-gradient(#df800a 68%, #df9a0f 32%, #f49801 75%,#f4c501 90%);
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

#calculator .orange3 {
    -fx-background-color: #df800a;
    -fx-font-size: 20px;
    -fx-text-fill: black;
}
